export APP_ENV=development

export APP__KRATOS__ADMIN_URL="http://localhost:4434"
export APP__KRATOS__PUBLIC_URL="http://localhost:4433"
export APP__KRATOS__TIMEOUT_SECS="120"
export APP__KRATOS__CONNECT_TIMEOUT_SECS="30"
export APP__KRATOS__POOL_IDLE_TIMEOUT_SECS="120"
export APP__KRATOS__POOL_MAX_IDLE_PER_HOST="10"
export APP__KRATOS__MAX_RETRIES="3"
export APP__KRATOS__RETRY_DELAY_MS="1000"
export APP__KRATOS__ACCEPT_INVALID_CERTS="true"

export APP__SERVER__HOST="127.0.0.1"
export APP__SERVER__PORT="8080"
